html{
  font-size: 100%;
  scroll-behavior: smooth;
}


body {background-color: magenta;}
p {color: lightpink}
p {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
h3 {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
p {font-size:23px;}
p {line-height:1.75;}
hr {height:5px;}
h1 {font-size:2.986rem;}
h1 {color:red;}
h2 {font-size:2.488rem;}
h2 {color:blue;}
h3 {font-size:2.074rem;}
h3 {color:green;}
h4 {font-size: 1.728rem;}
a:link {
  color: hotpink;
  background-color: white;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color:azure
}
a:active {
  color:darkblue
}
a:visited {color: turquoise;}
hr {border: 0;
    width: 150%;
    color: #00ff00;
}
th {border: 0;}
td {color: aqua}
.green {color:#00ff00}
.red {color:red}
.container {
  width: 56rem;
  margin: 3rem auto;
  box-sizing: border-box;
}
*:before, *:after {
     box-sizing: inherit;

}
.title {
  border-bottom: 1px dotted #bbbbbb;
  width: 25rem;
  margin-bottom: 4rem;
}
.section {
  margin-bottom: 3rem;
  border-radius: 5px;
  border-style: dotted;
  border-color:blue;
}
/* i got help from ben peer reviewing my color choices */ 

.bordertest {
  border-radius: 100% 0% 100% 0% / 100% 0% 100% 0% ;
  height: 200px;
  width: 200px;
  background-color: #00ff00;
  box-shadow: 17px 19px 5px 8px rgba(0,0,0,0.75);
-webkit-box-shadow: 17px 19px 5px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 19px 5px 8px rgba(0,0,0,0.75);
}
.gleeble {
  transition: 1s ease-in-out;
  background-color: turquoise;
  height: 300px;
  width: 300px;
  transform: rotate(45deg);
  transition: 10s;
}
.tungo2 {
 
  background-color: silver;
 
  height: 74px;
  width: 183.34px;
  border: 30px dotted black;
  transition: 2s;
}
.tungo3 {
  background-color: green;

  height: 7px;
  width: 183.34px;
  border: 30px dotted black;
}
.tungo3:hover {
  transition: 1s ease-in-out;
  transform: rotate(670000000deg);
  transition: 1s;
}
.tungo2:hover {
 transition: 1s ease-in-out;
 transform: rotate(67deg);
}
.gleeble:hover {
  transition: 3s ease-in-out;
  transform:translate(3000px)
}
nav{
  position: sticky;
  top: -10px;
  padding: 15px;
  opacity: 1;
  background-color: red;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  font-size:larger;
}

.headandtext{
  border-radius:4px;
  border-style:dotted;
  border-color:green
  
}
.job{
  width:500px;
  border-radius:6px;
  border-style:solid ;
  border-color:black;
}